/*CSS Selectors  */
/* Type Selector */

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

/* To make our websites same in every browser */

h1 {
  color: blue;
  text-align: center;
  font-size: 42px;
}

h2 {
  color: green;
  text-align: right;
  font-size: 36px;
}

/* Descendant Selector */

header h3 {
  font-size: 32px;
  color: orange;
}

section h3 {
  font-size: 24px;
  color: yellowgreen;
}

li {
  font-size: 24px;
}

/* class selectors */
.profession {
  background-color: aquamarine;
}

.profession h3 {
  font-size: 2rem;
}

.company {
  background-color: fuchsia;
  font-size: 20px;
}

.company h3 {
  color: white;
  font-size: 1.5em;
}

#wish-list {
  background-color: bisque;
}

/* Attribute Selector */
input[type='text'] {
  font-size: 36px;
}

input[type='email'] {
  font-size: 42px;
  background-color: blanchedalmond;
}

/* Grouping selectors */
/* 
h1,
h2,
h3,
h4 {
  color: bisque;
  font-size: 32px;
} */

/* CSS Measurements */
/* Relative and absolute */
/* Absolute - cm, in, mm, pc, pt, px */
/* Relative - em, rem, % */
/* % --> Dimensions */
/* em --> fonts */
/* rem = */