/*CSS Selectors  */
/* Type Selector */

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: #1c2042;
  background-image: url('https://images.unsplash.com/photo-1644982654072-0b42e6636821?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Grouping selectors */
/* 
h1,
h2,
h3,
h4 {
  color: bisque;
  font-size: 32px;
} */

/* CSS Measurements */
/* Relative and absolute */
/* Absolute - cm, in, mm, pc, pt, px */
/* Relative - em, rem, % */
/* % --> Dimensions */
/* em --> fonts */
/* rem = */

/* CSS Colors */
/* Color Names --> Is not better choice */
/* RGB - 256*256*256 */
/* HEX Code -#111111 */
/* hsl() */

/* CSS Backgrounds */
